#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=de --xlayouts='de'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=static --device=eth0 --gateway=192.168.143.254 --ip=192.168.143.138 --nameserver=192.168.143.252 --netmask=255.255.255.0 --onboot=on --ipv6=auto --no-activate
network  --bootproto=static --device=eth1 --ip=172.30.0.15 --nameserver=172.29.0.4 --netmask=255.255.0.0 --onboot=on --ipv6=auto --no-activate

network  --bootproto=dhcp --hostname=tele-autoinstall

# Root password
rootpw --iscrypted $6$4Ur6dIFga4jPnh7n$e6gAoIh4DqAci5w5BkQu2mF6dcFQgbgxl1FiybjIfn4cWSGlOn6QctWh1feGO76XLmoiyq08OGH/eFifWJE1V.
# System services
services --disabled="chronyd"
# System timezone
timezone Europe/Berlin --isUtc --nontp
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
# Partition clearing information
clearpart --none --initlabel
# Disk partitioning information
part pv.585 --fstype="lvmpv" --ondisk=sda --size=151554
part /boot/efi --fstype="efi" --ondisk=sda --size=200 --fsoptions="umask=0077,shortname=winnt"
part /boot --fstype="xfs" --ondisk=sda --size=1024
volgroup centos_tele-autoinstall --pesize=4096 pv.585
logvol /  --fstype="xfs" --size=92160 --name=root --vgname=centos_tele-autoinstall
logvol swap  --fstype="swap" --size=8188 --name=swap --vgname=centos_tele-autoinstall
logvol /var  --fstype="xfs" --size=51200 --name=var --vgname=centos_tele-autoinstall

%packages
@^web-server-environment
@base
@core
@web-server
kexec-tools
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end

